p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.report-container{
  color: black;
	padding: 5px 10px;
	border-radius: 5px 5px;
	box-shadow: 1px 1px 1px 1.3px rgba(0, 0, 0, 0.5);
}

.report-container:hover{
	background-color: whitesmoke;
	box-shadow: 1px 1.5px 1px 1.3px rgba(0, 0, 0, 0.5);

	transform: translateY(-1px);

	transition: transform 150ms ease-out;
}
